
#farm {
    display: flex;
    justify-content: center;
}

.make {
    height: 150px;
    width: 150px;
    background: lightgray;
    padding: 10px;
border: solid black 5px;
margin-left: 20px;
text-align: center;
border-radius: 50%;
padding-left: 10px;
margin-bottom: 20px;
}

.catObject {
    height: 150px;
    width: 150px;
    background: lightcyan;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}

.dogObject {
    height: 150px;
    width: 150px;
    background-color: lightsalmon;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}

.horseObject {
    height: 150px;
    width: 150px;
    background-color: lightgreen;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}


.sheepObject {
    height: 150px;
    width: 150px;
    background-color: lightsteelblue;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}



header {
height: 100px;
width: 100%;
    background: indianred;
display: flex;
justify-content: center;
margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: row;
    flex: 500px;
    border: black 1px solid black;

}
  main > aside {
    width: 250px;
    height: 500px;
    flex-direction: column;
    border: black 1px solid;
    order: 3;
}
 main > side2 {
    order: 2;
    width: 250px;
    flex-direction: column;
    flex: 50%;
}
main > .farm {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
}
