
#farm {
    display: flex;
    justify-content: center;
}

.make {
    height: 150px;
    width: 150px;
    background: lightgray;
    padding: 10px;
border: solid black 5px;
margin-left: 20px;
text-align: center;
border-radius: 50%;
padding-left: 10px;
margin-bottom: 20px;
}

.catObject {
    height: 150px;
    width: 150px;
    background: lightcyan;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}

.dogObject {
    height: 150px;
    width: 150px;
    background-color: lightsalmon;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}

.horseObject {
    height: 150px;
    width: 150px;
    background-color: lightgreen;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}


.sheepObject {
    height: 150px;
    width: 150px;
    background-color: lightsteelblue;
    padding: 10px;
border: solid black 3px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
}



header {
    background: indianred;
display: grid;
justify-content: center;
grid-column-start: auto;
grid-column-end: 2;
grid-row-start: auto;
grid-row-end: 4;
grid-row-gap: 20px;
}

main {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    height: calc(100% - 12vh);
   grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-gap: 40px;

    
}
div {
    margin-right: 80px;
}
  #aside {
   height: 200px;
   width: 300%;
   background: lightblue;
   grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
 #side2 {
    height: 200px;
    width: 300%;
    background: lightblue;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
 }
    
 #farm {
    display:gird;
    grid-template-columns: 50% 50%;
    }
footer {

    background: indianred;
display: grid;
justify-content: center;
grid-column-start: 5;
grid-column-end: 6;
grid-row-start: 4 ;
grid-row-end: 6;
height: 220px;
width: 1600px;
}
